<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdkj.intelligent.dao.GroupTeamMapper">
  <resultMap id="BaseResultMap" type="com.kdkj.intelligent.entity.GroupTeam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="master_id" jdbcType="INTEGER" property="masterId" />
    <result column="upper_limit" jdbcType="INTEGER" property="upperLimit" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="build_time" jdbcType="TIMESTAMP" property="buildTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from group_team
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kdkj.intelligent.entity.GroupTeam">
    insert into group_team (id, group_id, group_name, 
      master_id, upper_limit, status, 
      type, build_time)
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{masterId,jdbcType=INTEGER}, #{upperLimit,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{buildTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.kdkj.intelligent.entity.GroupTeam">
    update group_team
    set group_id = #{groupId,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      master_id = #{masterId,jdbcType=INTEGER},
      upper_limit = #{upperLimit,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      build_time = #{buildTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, group_id, group_name, master_id, upper_limit, status, type, build_time
    from group_team
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, group_id, group_name, master_id, upper_limit, status, type, build_time
    from group_team
  </select>
</mapper>