<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdkj.intelligent.dao.GroupTeamMapper">
    <cache eviction="LRU" flushInterval="500" size="50" readOnly="true"></cache>
    <resultMap id="BaseResultMap" type="com.kdkj.intelligent.entity.GroupTeam">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="master_id" jdbcType="INTEGER" property="masterId"/>
        <result column="upper_limit" jdbcType="INTEGER" property="upperLimit"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="build_time" jdbcType="TIMESTAMP" property="buildTime"/>
        <result column="game_id" jdbcType="INTEGER" property="gameId"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="notice" jdbcType="VARCHAR" property="notice"/>
        <result column="flushSwitch" jdbcType="VARCHAR" property="flushSwitch"/>
        <result column="boomSwitch" jdbcType="VARCHAR" property="boomSwitch"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from group_team
		where id = #{id,jdbcType=INTEGER}
	</delete>
    <insert id="insert" parameterType="com.kdkj.intelligent.entity.GroupTeam">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into group_team (id, group_id, group_name,
        master_id, upper_limit, status,
        type, build_time, game_id,icon,notice,flushSwitch,boomSwitch
        )
        values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=VARCHAR},
        #{groupName,jdbcType=VARCHAR},
        #{masterId,jdbcType=INTEGER}, #{upperLimit,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR}, #{buildTime,jdbcType=TIMESTAMP},
        #{gameId,jdbcType=INTEGER},#{icon,jdbcType=VARCHAR},#{notice,jdbcType=VARCHAR},#{flushSwitch,jdbcType=VARCHAR},
        #{boomSwitch,jdbcType=VARCHAR}
        )
    </insert>
    <select id="selectMasterIdByUsername" resultType="java.lang.Integer" parameterType="java.lang.String">
        select master_id from group_team where id =
        (select group_id from members where user_id =
        (select id from users where username=#{username} LIMIT 1) LIMIT 1)LIMIT 1;
    </select>
    <update id="updateByPrimaryKey" parameterType="com.kdkj.intelligent.entity.GroupTeam">
        update group_team
        <set>
            <if test="groupId !=null and groupId !='' ">group_id = #{groupId,jdbcType=VARCHAR},</if>
            <if test="groupName !=null and groupName !='' ">group_name = #{groupName,jdbcType=VARCHAR},</if>
            <if test="masterId !=null and masterId !='' ">master_id = #{masterId,jdbcType=INTEGER},</if>
            <if test="upperLimit !=null and upperLimit !='' ">upper_limit = #{upperLimit,jdbcType=INTEGER},</if>
            <if test="status !=null and status !='' ">status = #{status,jdbcType=VARCHAR},</if>
            <if test="type !=null and type !='' ">type = #{type,jdbcType=VARCHAR},</if>
            <if test="buildTime !=null ">build_time = #{buildTime,jdbcType=TIMESTAMP},</if>
            <if test="gameId !=null and gameId !='' ">game_id = #{gameId,jdbcType=INTEGER},</if>
            <if test="icon !=null and icon !='' ">icon = #{icon,jdbcType=VARCHAR},</if>
            <if test="notice !=null and notice !='' ">notice = #{notice,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectMasterIdByGroupId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select master_id
		from group_team
		where group_id = #{groupId,jdbcType=INTEGER}
	</select>
    <select id="selectMasterNameByGroupId" parameterType="java.lang.String" resultType="java.lang.String">
        select username from users where id =(
        select master_id
        from group_team
        where group_id = #{groupId,jdbcType=INTEGER} limit 1)
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
		select id, group_id, group_name, master_id, upper_limit, status, type,
		build_time,game_id,icon,notice,flushSwitch,boomSwitch
		from group_team
		where id = #{id,jdbcType=INTEGER}
	</select>
    <select id="selectListByGroup" resultMap="BaseResultMap"
            parameterType="com.kdkj.intelligent.entity.GroupTeam">
        select id, group_id, group_name, master_id, upper_limit, status, type,
        build_time,game_id,icon,notice,flushSwitch,boomSwitch
        from group_team
        where 1=1
        <if test="groupId !=null and groupId !='' ">and group_id = #{groupId,jdbcType=VARCHAR}</if>
        <if test="groupName !=null and groupName !='' ">and group_name = #{groupName,jdbcType=VARCHAR}</if>
        <if test="masterId !=null and masterId !='' ">and master_id = #{masterId,jdbcType=INTEGER}</if>
        <if test="upperLimit !=null and upperLimit !='' ">and upper_limit = #{upperLimit,jdbcType=INTEGER}</if>
        <if test="status !=null and status !='' ">and status = #{status,jdbcType=VARCHAR}</if>
        <if test="type !=null and type !='' ">and type = #{type,jdbcType=VARCHAR}</if>
        <if test="buildTime !=null ">and build_time = #{buildTime,jdbcType=TIMESTAMP}</if>
        <if test="gameId !=null and gameId !='' ">and game_id = #{gameId,jdbcType=INTEGER}</if>
    </select>

    <select id="selectGroupByUserId" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
		select g.id, g.group_id, g.group_name,g.icon,g.notice
		from members m,group_team g
		where m.user_id= #{id,jdbcType=INTEGER}
		and g.id=m.group_id
	</select>

    <select id="selectAll" resultMap="BaseResultMap">
		select id, group_id, group_name, master_id, upper_limit, status, type,
		build_time,game_id,icon,notice,flushSwitch,boomSwitch
		from group_team
	</select>

    <select id="isPlayer" resultType="java.lang.String">
        select group_id groupId from group_team where id in (select group_id from members where user_id =
        (select id from users where username = #{username,jdbcType=VARCHAR} LIMIT 1)  and STATUS ="1") ;
	</select>

    <update id="updateDefenseByMasterId" parameterType="com.kdkj.intelligent.entity.GroupTeam">
        UPDATE group_team
        <set>
            <if test="flushSwitch !=null and flushSwitch !='' ">flushSwitch = #{flushSwitch,jdbcType=VARCHAR},</if>
            <if test="boomSwitch !=null and boomSwitch !='' ">boomSwitch = #{boomSwitch,jdbcType=VARCHAR},</if>
        </set>
        where master_id=#{masterId,jdbcType=INTEGER}
    </update>
    <select id="selectGroupIdByMasterId" parameterType="com.kdkj.intelligent.entity.GroupTeam" resultType="java.lang.String">
        select group_id from group_team where master_id = #{masterId,jdbcType=INTEGER}
    </select>
    <select id="selectDefenseSetting" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select flushSwitch,boomSwitch from group_team where master_id = #{masterId,jdbcType=INTEGER} limit 1
    </select>

</mapper>